<h2>Pofile for: <%= @user.name %></h2>

<div class="profile">
  <%= gravatar_for @user, size: 100 %>
  <ul>
    <li class="profile-item"><span class="label">Name:</span> <%= @user.name %></li>
    <li class="profile-item"><span class="label">Email:</span> <%= @user.email %></li>
    <li class="profile-item"><span class="label">Location:</span> <%= @user.location %></li>
    <li class="profile-item"><span class="label">Job:</span> <%= @user.job %></li>
    <li class="profile-item"><span class="label">Interests:</span></li>
    <li class="profile-item">
      <%= simple_format @user.interests,{}, wrapper_tag: "div class='indent'" %>
    </li>
  </ul>
</div>

<h3>My posts</h3>
<%= render partial: '/posts/post_form', locals: { post: Post.new } %>
<%= render @posts %>
<%= will_paginate @posts %>
